:root {
  --color-background: #333;
  --color-background2: #555;
  --color-input: #222;
  --color-accent: #f80;
  --color-font: #fff;
  --color-overlay: #0008;
}

body {
  background: var(--color-background);
  color: var(--color-font);
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body > * {
  padding: 0.5rem;
}

#device-name {
  text-align: center;
}

#keymap-table {
  flex: 1;
  white-space: nowrap;
  overflow-y: scroll;
  position: relative;
  padding: 0;
  border: solid 1px var(--color-background2);
}

#keymap-table table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden; /* 垂直方向にスクロール */
  overflow-y: auto; /* 垂直方向にスクロール */
  padding: 0;
}

#keymap-table thead {
  background: var(--color-input);
  position: sticky;
  top: 0;
  z-index: 1;
}

#keymap-table tbody tr:nth-child(odd) {
  background-color: #fff1;
}

#keymap-table tbody tr:hover {
  background-color: #fff3;
}

#keymap-table th,
#keymap-table td {
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  border-right: solid 1px var(--color-background2);
}

#keymap-table td:nth-child(1) {
  width: 8rem;
}

#script-editor {
  position: fixed;
  inset: 0;
  background: var(--color-overlay);
  display: grid;
  place-items: center;
  z-index: 9;
}

#script-editor .container {
  position: absolute;
  background: var(--color-background);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #0008;
  max-width: calc(100vw - 4em);
  max-height: calc(100vh - 4em);
  width: 24rem;
  height: 300px;
  gap: 1rem;
}

#script-editor .container h2 {
  margin: 0;
}
#script-editor .container .element-details {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 8px 0;
}

#script-editor .container textarea {
  width: 100%;
  resize: none;
  flex: 1;
}

#script-editor input:focus {
  border-color: #f70;
}

input,
select,
textarea {
  min-width: 5rem;
  width: 100%;
  background: #222;
  color: white;
  border: none;
  field-sizing: content;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input,
select {
  border-bottom: solid 2px #555;
}

input:focus,
select:focus {
  border-bottom: solid 2px var(--color-accent);
}

.buttons {
  text-align: right;
}

.buttons button {
  padding: 0.5rem 1rem;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.highlight {
  animation: flash 0.3s ease-out;
}

@keyframes flash {
  0% {
    background-color: #fff5;
  }
  100% {
    background-color: transparent;
  }
}

.hidden {
  display: none !important;
}
